<h1>Privacy Policy for Apps</h1>

<h2>1. Introduction</h2>

<p>This Privacy Policy applies to all Apps developed and published by <strong>Maikel Stuivenberg</strong>, including <strong>Encore, Bravo, Qwixx</strong>. This Privacy Policy outlines how we collect, use, and share information about you when you use our Apps.</p>

<h2>2. Collection of Your Information</h2>

<p>Our Apps do not collect any personally identifiable information (PII) from you, such as your name, email address, phone number, or address. However, we may collect certain non-PII data about your use of our Apps, such as your device type, operating system, and IP address. This non-PII data is used to improve our Apps and to provide you with a better user experience.</p>

<h2>3. Use of Your Information</h2>

<p>We do not use your non-PII data for any other purpose than to improve our Apps and to provide you with a better user experience. We do not sell or share your non-PII data with third parties.</p>

<h2>4. Sharing Your Information</h2>

<p>We may share your non-PII data with third-party service providers who help us operate our Apps. These third-party service providers are required to keep your information confidential and to use it only to provide services to us.</p>

<h2>5. Data Retention</h2>

<p>We retain your non-PII data for as long as you use our Apps. We may also retain your non-PII data for a longer period of time if we believe it is necessary to comply with our legal obligations or to resolve disputes.</p>

<h2>6. Data Security</h2>

<p>We take reasonable security measures to protect your non-PII data from unauthorized access, use, disclosure, alteration, or destruction. However, no data transmission over the Internet or wireless network can be guaranteed to be 100% secure. As such, we cannot guarantee the security of any non-PII data that you transmit to us.</p>

<h2>7. Your Choices</h2>

<p>You can control how we collect and use your non-PII data by disabling certain features of our Apps. You can also delete your non-PII data by uninstalling our Apps.</p>

<h2>8. Children's Privacy</h2>

<p>Our Apps are not intended for use by children under the age of 13. If you are under the age of 13, do not use our Apps.</p>
